.Form{
    width: 100%;
    display: grid;
    place-items: center;
    height: calc(100vh - 80px);
}

.Form a{
    color: var(--link-color);
}

.Form_wrap{
    display: grid;
    row-gap: 40px;
}

.Form form{
    display: grid;
    row-gap: 20px;
}

.Form input{
    width: 100%;
    border: solid 1px #ccc;
    outline: none;
    font-size: 1.1rem;
    padding: 15px;
    display: block;
}

.Form input[type="submit"]{
    cursor: pointer;
    border: none;
    color: #fff;
    background: var(--main-color);
}